* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #470680;
    padding:20px 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(183, 44, 44, 0.1); */
    max-width: 900px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h2 {
    margin-bottom: 10px;
}

.info p {
    font-size: 1rem;
    line-height: 1.5;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #ccc;
    padding: 16px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.line{
    height: 100% ;
    width:5%;
    background: #fff;
}
.container2{
    display: flex;
    height: 20%;
}

button:hover {
    background-color: #4cae4c;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .info, form {
        width: 100%;
    }

    .form-row {
        flex-direction: column;
    }
}
